html
	head
		link(rel="stylesheet", href="css/font-awesome/font-awesome.css")
		link(rel="stylesheet", href="css/index.css")
		script(src="js/jquery.js")
	body
		audio#moo1(autoplay=false, src="sounds/moo1.wav")
		audio#moo2(autoplay=false, src="sounds/moo2.wav")
		audio#chicken1(autoplay=false, src="sounds/chicken1.wav")
		audio#duck1(autoplay=false, src="sounds/duck1.wav")
		audio#pig1(autoplay=false, src="sounds/pig1.wav")
		audio#sheep1(autoplay=false, src="sounds/sheep1.wav")
		div.button-container
			div.the-button
				i.fa.fa-5x.fa-hand-pointer-o


		script(src="js/index.js")
